<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="/blog/rss.xml", trailing_slash=false) }}">
    {% block meta %}
    <meta name="description"
        content="Hello, my name is Christopher Snowhill, or kode54, and I've been writing software since as long as I can remember.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Christopher Snowhill">
    <meta property="og:image" content="https://secure.gravatar.com/avatar/d06436ad17e8bce09279190a9b085ff2?s=1024">

    {% endblock %}
    <title>{% block title %}Christopher Snowhill{% endblock %}</title>
    
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <div class="container-xxl py-4 px-3 mx-auto my-auto">
            <div class="row">
                <div class="col-12 col-md-8">        
                {% block content %} {% endblock %}
                </div>
                <div class="col-12 col-md-4">
                    <div class="d-block d-md-none">
                        <hr />
                    </div>
                    <h2>Donate</h2>
                    <iframe src="https://www.gofundme.com/f/help-me-get-a-replacement-mac-mini/widget/medium?utm_source=cog.losno.co&amp;utm_medium=referral&amp;utm_campaign=widget" width="100%" height="213" scrolling="no" frameborder="0" allowtransparency=""></iframe>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://paypal.me/kode54" target="_self">PayPal</a></li>
                        <li class="list-inline-item"><a href="https://ko-fi.com/kode54" target="_self">Ko-fi</a></li>
                        <li class="list-inline-item"><a href="https://patreon.com/kode54" target="_self">Patreon</a></li>
                        <li class="list-inline-item"><a href="https://github.com/sponsors/kode54" target="_self">GitHub Sponsors</a></li>
                    </ul>
                    <hr />
                    <h2>Social media links </h2>

                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://social.losno.co/@chris" target="_self" rel="me">Mastodon 🐘</a></li>
                        <li class="list-inline-item"><a href="https://discord.gg/4A6mrhtfAz" target="_self" rel="me">My Discord server 💬</a></li>
                        <li class="list-inline-item"><a href="https://github.com/kode54" target="_self" rel="me">GitHub 🐙</a></li>
                        <li class="list-inline-item"><a href="https://bitbucket.org/losnoco" target="_self" rel="me">Bitbucket 🪣</a></li>
                        <li class="list-inline-item"><a href="https://bsky.app/profile/kode54.net" target="_self" rel="me">Bluesky 🦋</a></li>
                        <li class="list-inline-item"><a href="https://www.threads.net/@kode54" target="_self" rel="me">Threads 🧵</a></li>
                        <li class="list-inline-item"><a href="https://t.me/kode54" target="_self" rel="me">Telegram ✈️</a></li>
                    </ul>

                    <div class="alert alert-warning" role="alert"><span>I am <strong>NOT</strong> on Twitter/"X". Anyone under the username
                        <code>kode54</code> in that service is an impostor.</span></div>
                    {% if "contact" not in current_path %}
                    <hr /><a class="btn btn-primary btn-lg btn-block" href="{{get_url(path="@/contact/_index.md")}}" role="button">Contact
                        me</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <footer class="footer bg-body-tertiary pb-5 mt-auto ">
        <div class="container-xxl py-4 px-3 mx-auto my-auto "><em>&copy; 2000&mdash;2024 Christopher Snowhill. All rights
                reserved except where indicated.</em>
            <div class="float-end"><a href="https://www.netlify.com"><img
                        src="https://www.netlify.com/v3/img/components/netlify-color-accent.svg"
                        alt="Deploys by Netlify"></a></div>
        </div>
    </div>
    <script src="/autoDarkMode.js"> </script>
</body>

</html>
