<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&amp;family=Space+Mono:wght@400;700&amp;display=swap">
    <link rel="stylesheet" href="/style.css">
    <meta name="description"
        content="Hello, my name is Christopher Snowhill, or kode54, and I've been writing software since as long as I can remember.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Christopher Snowhill">
    <meta property="og:image" content="https://secure.gravatar.com/avatar/d06436ad17e8bce09279190a9b085ff2?s=1024">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="kode54.net">
    <meta name="twitter:title" content="Christopher Snowhill">
    <meta name="twitter:description"
        content="Hello, my name is Christopher Snowhill, or kode54, and I've been writing software since as long as I can remember.">
    <meta name="twitter:image" content="https://secure.gravatar.com/avatar/d06436ad17e8bce09279190a9b085ff2?s=1024">
    <title>{% block title %}Christopher Snowhill{% endblock %}</title>
    
</head>

<body>
    <div class="container-xxl py-4 px-3 mx-auto my-auto">
        <div class="row">
            <div class="col-12 col-md-8">        
            {% block content %} {% endblock %}
            </div>
            <div class="col-12 col-md-4">
                <h2>Donate</h2>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://paypal.me/kode54" target="_self">PayPal</a></li>
                    <li class="list-inline-item"><a href="https://ko-fi.com/kode54" target="_self">Ko-fi</a></li>
                    <li class="list-inline-item"><a href="https://patreon.com/kode54" target="_self">Patreon</a></li>
                    <li class="list-inline-item"><a href="https://github.com/sponsors/kode54" target="_self">GitHub Sponsors</a></li>
                </ul>
                <hr />
                <h2>Social media links </h2>
                <div class="alert alert-warning" role="alert"><span>I am <strong>NOT</strong> on Twitter/"X". Anyone under the username
                        <code>kode54</code> in that service is an impostor.</span></div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://social.losno.co/@chris" target="_self" rel="me">Mastodon</a></li>
                    <li class="list-inline-item"><a href="https://discord.gg/4A6mrhtfAz" target="_self" rel="me">My Discord server</a>
                    </li>
                    <li class="list-inline-item"><a href="https://github.com/kode54" target="_self" rel="me">GitHub</a></li>
                    <li class="list-inline-item"><a href="https://bitbucket.org/losnoco" target="_self" rel="me">Bitbucket</a></li>
                    <li class="list-inline-item"><a href="https://www.threads.net/@kode54" target="_self" rel="me">Threads</a></li>
                    <li class="list-inline-item"><a href="https://t.me/kode54" target="_self" rel="me">Telegram</a></li>
                </ul>
                {% if "contact" not in current_path %}
                <hr /><a class="btn btn-primary btn-lg btn-block" href="{{get_url(path="@/contact/_index.md")}}" role="button">Contact
                    me</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="footer bg-body-tertiary pb-5">
        <div class="container-xxl py-4 px-3 mx-auto my-auto "><em>&copy; 2000&mdash;2023 Christopher Snowhill. All rights
                reserved except where indicated.</em>
            <div class="float-end"><a href="https://www.netlify.com"><img
                        src="https://www.netlify.com/v3/img/components/netlify-color-accent.svg"
                        alt="Deploys by Netlify"></a></div>
        </div>
    </div>
    <script src="/autoDarkMode.js"> </script>
</body>

</html>