{% extends "base.html" %}

{% block title %} {{page.title}} - Christopher Snowhill {% endblock title %}

{% block meta %}
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:url" content="{{page.permalink}}">
    <meta property="og:image" content="https://secure.gravatar.com/avatar/d06436ad17e8bce09279190a9b085ff2?s=1024">
    <meta property="og:description" content="{{page.summary}}">
    <meta property="article:author" content="Christopher Snowhill">
    <meta property="article:published_time" content="{{page.date}}">
    <meta property="article:section" content="Blog">
{% endblock  %}

{% block content %}
<h3><a href="/">Christopher Snowhill</a></h3>
<h4><a href="/{{page.components.0}}">Blog {% if page.components.0 == "blog-archive" %}archive{%endif%}</a></h4>
    {% if page.lower %}
    <div class="float-start">
        <a href="{{page.lower.permalink}}">&laquo; {{page.lower.title}}</a>
    </div>
    {% endif %}
    {% if page.higher %}
    <div class="float-end">
        <a href="{{page.higher.permalink}}">{{page.higher.title}} &raquo;</a>
    </div>
    {% endif %}
    <br />
    <div class="float-none">
        <h1>{{page.title}}</h1>
    </div>
    <em>{{page.date | date(format="%B %e, %Y")}}</em>
    <hr />
    {{page.content | safe}}
    <hr/>
    {% if page.components.0 != "blog-archive" %}
    <script src="https://utteranc.es/client.js"
        repo="losnoco/kode54.net.comments"
        issue-term="{{page.slug}}"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
    {% endif %}
    {% endblock  %}