{% extends "base.html" %}

{% block title %} Contact - Christopher Snowhill {% endblock title%}

{% block content %}
<h3><a href="/">Christopher Snowhill</a></h3>

<h1>Contact me by e-mail</h1>
<div class="alert alert-warning" role="alert"><span>If you're contacting me about my foobar2000 components, <a
            href="{{get_url(path="@/fb2k.md")}}">read this</a> first.</span></div>
<form name="contact" method="post" data-netlify="true" data-netlify-recaptcha="true">
    <div class="mb-3"></div><label for="name">Name</label><input class="form-control" id="name" type="text" name="name"
        placeholder="Enter your name" required="" />
    <div class="mb-3"></div><label for="email">Email</label><input class="form-control" id="email" type="email"
        name="email" placeholder="Enter your email" required="" />
    <div class="mb-3"></div><label for="message">Message</label><textarea class="form-control" id="message"
        name="message" rows="3" placeholder="Enter your message" required="" maxlength="1000"></textarea>
    <div class="mb-3"></div>
    <div data-netlify-recaptcha="true"></div><button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock content %}