{% extends "base.html" %}

{% block content %}
<h1>Christopher &ldquo;kode54&rdquo; Snowhill</h1><img class="img-thumbnail rounded float-start me-3"
    src="https://secure.gravatar.com/avatar/d06436ad17e8bce09279190a9b085ff2?s=128" alt="My face" />
<p class="headline"> My name is <strong>Christopher Snowhill</strong>, or <code>kode54</code>, and I&apos;ve been
    writing random software for as long as I&apos;ve had computers with a programming language to tinker with.<br />I am
    the main developer of <a href="https://cog.losno.co">Cog</a>, an audio player for macOS, and also an occasional
    contributor to various other free and open source projects, including the Linux kernel.</p>
<p>I&apos;ve been tinkering with electronics and computers for most of my life, and I used to (semi-destructively) take
    things apart, but nowadays, I mostly only repair things as needed. I got my start on an Apple II+, and barely used a
    Commodore 64, and the IBM PC compatibles belonging to relatives. It would be years before I finally got a PC of my
    own and actually learned any productive use of programming languages for it.</p>
<p>These days, I&apos;d say I&apos;m fairly competent in C/C++, JavaScript, and maybe some PHP, and still have the faint
    memories of my early use of 6502 and 65816 assembly language.</p>
<p>I have made a number of minor contributions to various projects, including a number of console emulators, like <a
        href="https://www.zsnes.com/">ZSNES</a> and <a href="http://www.snes9x.com/">Snes9X</a>, and later <a
        href="https://github.com/higan-emu/higan">higan</a>. I have also contributed several patches to the Linux
    kernel, some of which are still useful today.</p>
<hr />
<h2>Donate</h2>
<ul class="list-inline">
    <li class="list-inline-item"><a href="https://paypal.me/kode54" target="_self">PayPal</a></li>
    <li class="list-inline-item"><a href="https://ko-fi.com/kode54" target="_self">Ko-fi</a></li>
    <li class="list-inline-item"><a href="https://patreon.com/kode54" target="_self">Patreon</a></li>
    <li class="list-inline-item"><a href="https://github.com/sponsors/kode54" target="_self">GitHub Sponsors</a></li>
</ul>
<hr />
<h2>Social media links </h2>
<div class="alert alert-warning" role="alert"><span>I am <strong>NOT</strong> on Twitter/"X". Anyone under the username
        <code>kode54</code> in that service is an impostor.</span></div>
<ul class="list-inline">
    <li class="list-inline-item"><a href="https://social.losno.co/@chris" target="_self" rel="me">Mastodon</a></li>
    <li class="list-inline-item"><a href="https://discord.gg/4A6mrhtfAz" target="_self" rel="me">My Discord server</a>
    </li>
    <li class="list-inline-item"><a href="https://github.com/kode54" target="_self" rel="me">GitHub</a></li>
    <li class="list-inline-item"><a href="https://bitbucket.org/losnoco" target="_self" rel="me">Bitbucket</a></li>
    <li class="list-inline-item"><a href="https://www.threads.net/@kode54" target="_self" rel="me">Threads</a></li>
    <li class="list-inline-item"><a href="https://t.me/kode54" target="_self" rel="me">Telegram</a></li>
</ul>
<hr /><a class="btn btn-primary btn-lg btn-block" href="contact" role="button">Contact me</a>
{% endblock content %}