{% extends "base.html" %}

{% block content %}
<h1>{{section.title}}</h1>
{{section.content|safe}}
<h2><a href="{{get_url(path="@/blog/_index.md")}}">Blog <span class="badge bg-secondary">New!</span></a></h2>
{% set blog = get_section(path="blog/_index.md") %}
{% set latest_blog_post = blog.pages.0 %}

<h4><a href="{{latest_blog_post.permalink}}">{{ latest_blog_post.title }}</a><span style="font-weight: 400;"> - {{latest_blog_post.date |
    date(format="%B %e, %Y")}}</span></h4>
<p>{{latest_blog_post.summary|safe}}</p>
<a href="{{latest_blog_post.permalink}}">Read more &raquo;</a>
{% endblock content %}